services:
  mongodb:
    image: mongo:7.0
    container_name: assignment-mongodb
    ports:
      - "27018:27017" # Внешний порт изменён на 27018, чтобы избежать конфликта с локальным MongoDB
    environment:
      MONGO_INITDB_DATABASE: assignment_service
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - assignment-network
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: assignment-api
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: "8080"
      MONGO_URI: "mongodb://mongodb:27017"
      MONGO_DB: "assignment_service"
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - assignment-network
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
volumes:
  mongodb_data:
networks:
  assignment-network:
    driver: bridge
